h1 {
    color: green;
    font-style: italic;
}

li {
    color: grey;
    padding-top: 3px;
    font-size: 25px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #04AA6D;
    /* Green background */
    border: none;
    /* No border */
    color: white;
    /* White text */
    padding: 15px 32px;
    /* Padding inside the button */
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* No underline */
    display: inline-block;
    /* Inline block layout */
    font-size: 16px;
    /* Text size */
    cursor: pointer;
    /* Pointer cursor on hover */
    border-radius: 8px;
    /* Rounded corners */
    transition-duration: 0.4s;
    /* Smooth transition for hover */
}

button:hover {
    background-color: #039955;
    /* Darker green on hover */
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Subtle shadow on hover */
}